@import '../../../assets/scss/variables.scss';

app-forgot-password {

  .container {
    padding-top: 150px;
    width: 30%;

    h2 {
      color: map_get($colors, white);
      text-align: center;
    }

    .username-field {
      display: flex;
      justify-content: center;

      input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-left: 0;
      }

      .fa-user {
        background-color: map_get($colors, white);
        background-clip: padding-box;
        border: 1px solid map_get($colors, ghost-gray);
        border-radius: 0.25rem;
        border-right: 0;
        color: map_get($colors, trout-gray);
        font-size: 1rem;
        line-height: 1.5;
        margin-right: -10px;
        padding: 0.375rem 0.75rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      .form-control {
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;
      }
    }

    .login-buttons {
      margin-top: 20px;

      .send-link-btn {
        background: map_get($colors, white);
        border: 1px solid map_get($colors, white);
        color: map_get($colors, rhino-blue);
        padding: 10px;
        width: 100%;
      }

      .send-link-btn:hover {
        background: map_get($colors, steel-blue);
        border: 1px solid map_get($colors, steel-blue);
        color: map_get($colors, white);
        width: 100%;
      }
    }

  }

}
