<div class="container col-md-offset-3">
  <div class="dashboard-boxes">
    <div class="first-box">
      <div class="registered-users">
        <img src="../../../assets/images/users.png">
        <h4>Registered users</h4>
      </div>
    </div>
    <div class="second-box">
      <div class="token-balance">
        <img src="../../../assets/images/wallet.png">
        <h4>Token Balance</h4>
      </div>

    </div>
    <div class="third-box">
      <div class="price-calculation">
        <img src="../../../assets/images/calculator.png">
        <h4>DSC Price Calculation</h4>
      </div>
    </div>
  </div>
      <h1>Hi {{currentUser.firstName}}!</h1>
      <p>You're logged in DiscoverBlockchain Dashboard</p>  
</div>
