@import '../../../assets/scss/variables.scss';

app-dashboard {

  position: fixed;
  left: 20%;
  background: map_get($colors, white);
  width: 80% !important;
  top: 0;
  height: 100%;
  border-right: 2px solid map_get($colors, white);

  .container {
    width: 100%;
    margin-left: 0;

    .first-box,
    .second-box,
    .third-box {
      padding: 10px;
      border: 1px solid #000;
    }
  }

}
