$colors: (
        white: #fff,
        black: #000,
        gray: #808080,
        lightest-gray: #e6e4e4,
        light-gray: #D3D3D3,
        mid-gray: #696969,
        trout-gray: #495057,
        ghost-gray: #ced4da,
        blue: #2092d0,
        lightest-blue: #4190CB,
        lighter-blue: #0b649e,
        mid-blue: #3f51b5,
        sea-blue : #396688,
        rock-blue: #708090,
        cyan-blue: #00e7ff,
        rhino-blue: #2a455a,
        red: #DC143C,
        warning-red: #dc3545,
        yellow: #fff200,
        light-green: #1aff7d,
        green: #008000,
        pink: #ff4a8d,
        rgba-light: rgba(0, 0, 0, .05),
        rgba-lighter: rgba(70, 70, 70, 0.3),
        rgba-dark: rgba(0, 0, 0, 0.57),
        rgba-darker: rgba(7, 7, 7, 0.83),
        transparent: transparent
);

$z-indexes: (
        z-index-100: 100,
        z-index-999: 999
);

$breakpoints: (
        extra-small: 320px,
        small-350: 350px,
        small-359: 359px,
        small: 420px,
        small-425: 425px,
        small-447: 447px,
        small-448: 448px,
        small-449: 449px,
        small-468: 468px,
        small-480: 480px,
        tablet-500: 500px,
        tablet: 550px,
        tablet-582: 582px,
        tablet-596: 596px,
        tablet-600: 600px,
        tablet-610: 610px,
        tablet-611: 611px,
        tablet-679: 679px,
        tablet-min: 680px,
        tablet-681: 681px,
        tablet-700: 700px,
        mid-760: 760px,
        mid: 768px,
        mid-769: 769px,
        tablet-mid: 860px,
        tablet-900: 900px,
        tablet-920: 920px,
        tablet-max: 992px,
        large: 1024px,
        extra-large: 1200px,
        extra-large-1160: 1160px,
        extra-large-1255: 1255px,
        largest: 1600px
);
