<div class="container">
  <div class="row">
    <div class="logo-img">
      <img src="../../../assets/images/discoverblockchain-logo.png">
    </div>
    <div class="dash">

      <a href="/dashboard"> Dashboard</a>
    </div>
    <div class="sidenav">
      <a href="/buy-token">Buy DSC Tokens</a>
      <a href="/crowdsale-info">Crowdsale Info</a>
      <a href="/referrals">Referrals</a>
      <a href="/bounties">Bounties</a>
      <a href="/my-account">My Account</a>
    </div>
  </div>
</div>
