<nav class="navbar navbar-static-top" role="navigation">
  <ul class="nav navbar-top-links navbar-right">
    <li class="welcome-top-message">
      <h4>Welcome to DiscoverBlockchain Dashboard</h4>
    </li>
    <li class="notification-item" dropdown="">
      <a dropdowntoggle="" aria-haspopup="true" aria-expanded="false">
        <span class="block m-t-xs"><i aria-hidden="true" class="fa fa-bell"></i></span>
      </a>
      <ul class="animated fadeInRight dropdown-menu">
      </ul>
    </li>
    <li class="logout-item">
      <a href="#" class="log-out" onclick="logout()">
        <i class="fa fa-sign-out"></i> Log out
      </a>
    </li>
  </ul>
</nav>
